click
pip-check-reqs
pip-licenses
flake8
flake8-docstrings
pytest
pytest-cov
pytest-pythonpath
setuptools
Sphinx
sphinx-rtd-theme
tox
twine
pandas==1.2.3
numpy==1.20.3
dask==2021.6.2
cartopy==0.19.0.post1
matplotlib==3.3.4
metpy==1.0